/*==================== GOOGLE FONTS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


:root {
    --header-height: 3rem;
    /* Change favorite color */
    --hue-color: 270; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    --first-color: linear-gradient(to bottom, #57059e, #4a00e0);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9rem;
    --smaller-font-size: .85rem;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: #fff0ff;
    font-weight: 600;

}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

strong {
    font-weight: 800;
    color: #f5f5f5;
}

.section {
    padding: 0;


}

.section-title {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 800;
    text-align: center;

}

.section-subtitle {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    color: #fff;
}

.section-subtitle, .section-title {
    text-align: center;
}

.container {
    max-width: 992px;
    /*max-width: 1202px;*/

    margin: 0 24px;

}

.grid {
    display: grid;
    gap: 24px;

    /*background: red;*/
}

.flex {
    display: flex;


    /*background: red;*/
}
#message-container {

   display: none;

    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 22, 0.5);
    /*background: red;*/
    justify-content: center;
    font-size: 3.5rem;
    margin: 0 auto;
    z-index: 10;
    font-weight: 600;
    height: 100vh;
    padding-top: 400px;

    color: #fdfff0;
}
#message {
    justify-self: center;
}
.fade-in {
        animation: fade-out 2s ease-out;
    }

    @keyframes fade-out {

        100% {
            opacity: 1;
        }
        0% {
            opacity: 0;
        }
    }
.credential {
    color: #d0c90b;
}

.glass-button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.95);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;
}

.glass-button:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

.button-2 {


    display: flex;
    align-items: center;

    padding: 2px 12px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.95);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;
}

.button-2:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
main {
    margin: 0;

}
/******************************************Nav******************* */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 100;
    transition: 0.4s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    background: #030338;

}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;


}

.nav-image {
    width: 32px;
    border-radius: 50%;
}

.nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #030338;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 4rem;
    display: grid;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    transition: 0.4s;
    padding-bottom: 4rem;


}

.nav-list, .nav-link {
    display: flex;

}

.nav-link {
    flex-direction: column;
    align-items: center;
    /*row-gap: 0.25rem;*/
    font-weight: 600;
    font-size: 0.65rem;
    color: #fff0ff;
    padding: 0;
    transition: 0.15s;
}

.nav-list {
    justify-content: space-around;
}

.nav-icon {
    font-size: 1.2rem;
}


.nav-list {
    justify-content: space-around;
}

.nav-icon {
    display: none;
}

.nav-link {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: rgb(105, 42, 227);;
}


.nav-toggle, .nav-logo {
    color: var(--title-color);
    font-weight: 600;

}

.nav-logo {
    font-size: 1.5rem;
    color: #fff;
}

.nav-logo:hover {
    color: var(--first-color);
}

.nav-btn {
    /*bottom: 0;*/
}

.nav-toggle {
    font-size: 1.1rem;
    cursor: pointer;
    right: 0;

}

.nav-toggle:hover {
    color: var(--first-color);
}

.nav-list {


}

.nav-link {


}

.nav-link:hover {
    color: var(--first-color);

}


#nav-close {
    position: absolute;
    right: 20px;
    bottom: 8px;
    cursor: pointer;

}

#nav-close:hover {
    font-weight: 700;

}

.nav-menu {

}

.show-menu {
    bottom: 0;
}

.home {
    min-height: 90vh;
    /*background: linear-gradient(to bottom, #57059e, #4a00e0);*/
    background: linear-gradient(to left, #57059e, #4a00e0);
}

/* *********************************Home *************************/
.home-container {
    gap: 16px;
    /*background: #f30a0a;*/
    background: rgba(0, 0, 22, 0.4);

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;

}

.home-content {
    /*background: #d5d511;*/
    grid-template-columns: 0.5fr 3fr;
    padding-top: 56px;
    align-items: center;
}

.home-social {
    display: grid;

    grid-template-columns: max-content;
    row-gap: 16px;

}

.home-social-icon {
    font-size: 24px;
    color: #fff;
}

.home-social-icon:hover {
    color: var(--first-color-alt);
}

.home-blob {
    width: 170px;
    fill: var(--first-color);
}

#profile-img {
    width: 250px;
    object-fit: cover;
}

.item {
    /*background: red;*/
}

.home-data {
    grid-column: 1/3;

}

.home-title {
    font-size: var(--big-font-size);
}

.home-subtitle {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 12px;
}

.home-description {
    margin-bottom: 32px;
}

/******************** Buttons  ***********************/


/*======================= About ============================*/
.about {
    min-height: 90vh;
    background: linear-gradient(to left, #57059e, #4a00e0);
    color: #fff0ff;
}

.about-container {
    background: rgba(0, 0, 22, 0.4);

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 1fr 2fr;*/
}

.about img {
    width: 300px;
    border-radius: 8px;
    justify-self: center;
    align-self: center;


}


.about-description {
    text-align: center;
    margin-bottom: 40px;
}

.about-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.about-data {
    display: flex;
    flex-direction: column;

}

.about-info-title {
    font-size: var(--h2-font-size);
    font-weight: 500;
}

.about-info-name {
    font-size: var(--small-font-size);
}

.about-info-name, .about-info-title {
    display: block;
    text-align: center;
}

.about-button {
    display: flex;
    justify-content: center;
}

/******************* Skills ********************/

.skills-container {
    display: grid;
    row-gap: 0;

}

.skills {

}

.skills-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.skill-icon {
    font-size: var(--big-font-size);
    margin-right: 30px;
}

.skill-title {

    font-size: var(--h2-font-size);
}

.skills-subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--h3-font-size);
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.skills-bar, .skills-percentage {
    height: 5px;
    border-radius: 4px;
}

.skills-bar {
    background: var(--first-color-lighter);
}

.skills-percentage {
    display: block;
    background: var(--first-color);
}

#html, #css, #js, #bt {
    width: 90%;
}

#html, #css, #js, #bt {
    width: 90%;
}

.skil-img {
    width: 48px;
    height: 48px;
}

/*=======================qualification*/

.qualification {
    min-height: 90vh;
    background: linear-gradient(to left, #57059e, #4a00e0);
    display: grid;
    justify-content: center;
    color: #fff;

}

.certification {
    min-height: 90vh;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    display: grid;
    justify-content: center;
    color: #fff;


}

.qualification-container {
    background: rgba(0, 0, 22, 0.4);
    max-width: 1200px !important;

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: 2rem auto;

}

.qualification-tabs {


    color: #fff;

    padding: 2rem;

    margin: auto;

    display: flex;
    justify-content: center;
    /*margin-bottom: 32px;*/


}

.certification-container {
    padding-bottom: 4rem;

}

.certification-content {

}

.institute-description {
    display: flex;
    flex-direction: column;
}

.qualification-content {
    width: 100%;
}

.qualification-data {
    display: grid;
    background: rgba(15, 15, 22, 0.2);

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    transition: 0.3s;
    overflow: hidden;

}

.qualification-data:hover {
    transform: scale(1.02);

}

.institute-logo img {
    display: none;
}

.logo-certificate img {
    display: none;
}

/********************************/


.qualification-heading {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.qualification-icon {
    font-size: 2rem;
    padding-left: 1rem;
}

.qualification-subtitle {
    font-size: var(--small-font-size);
    font-weight: 500;
    margin-bottom: 16px;

}

#qualification-title-1 {
    padding-top: 1rem;
    font-size: 2.5rem !important;
    font-weight: 800;
}

#qualification-icon {
    font-size: 2.5rem;
}

/*=========================portfolio==========================*/
.portfolio-title {
    font-size: 3.5rem;
    color: #fff0ff;
    font-weight: 800;
    text-align: center;
}

.portfolio {
    min-height: 90vh;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    color: #fff0ff;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;


}

.portfolio-content {

    border: 0 solid #e2e8f0;
    text-align: center;
    overflow: hidden;
    /*background: #fafafa;*/
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /*background: rgba(0, 0, 22, 0.9);*/
    background: rgba(0, 0, 22, 0.3);
    transition: 0.3s;

}

.portfolio-content:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.project-img {
    width: 100%;
    height: 250px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    transition: transform 0.5s ease;

}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-weight: 600;
    color: #fff0ff;

}

.project-desc {
    margin-bottom: 12px;
    overflow: hidden;
    height: 93px;

}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}

.project-button {
    /*min-width: 110px;*/
}

.show-more-button {
    /*background: var(--first-color) !important;*/
    font-size: 1rem !important;
    margin: 0 auto !important;
    width: max-content !important;


    padding: 4px 24px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.95);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
}

.show-more-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.arrow-right {
    font-size: 2rem;
}

.show-more-button:hover {
    background: var(--first-color-alt) !important;
}

.show-more-container {
    text-align: center;
    margin-top: 2rem;
}

/*======================================== service ++++==============*/

.service {
    min-height: 60vh;
    background: linear-gradient(to top, #57059e, #4a00e0);

    color: #fff;
    text-align: center;

}

.service-bg {

}

.service-title, .service-description {
    color: #fff;
    /*text-align: center;*/
}

.service-title {
    font-size: 3rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.service-description {
    font-size: 1.4rem;
}

.service-container {
    display: grid;


}

.service-data {
    display: grid;
    row-gap: 30px;
    text-align: center;
    background: rgba(0, 0, 22, 0.4);
    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;

}


/*=============================contact================================*/
.contact {
    min-height: 90vh;
    background: linear-gradient(to top, #57059e, #4a00e0);

}

.contact-container {
    display: grid;
    row-gap: 48px;
    justify-content: center;


    background: rgba(0, 0, 22, 0.4);
    max-width: 1200px !important;

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 3rem;
    /*grid-template-columns: 1fr 1fr;*/
}

.contact-info {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-bottom: 32px;
    transition: 0.5s;


}

/*.contact-info:hover {*/
/*    transform: scale(1.01);*/

/*}*/


.contact-icon {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--first-color);
}

.contact-title {
    font-size: 1.6rem;
    font-weight: 500;

}

.contact-subtitle {
    font-size: 1.3rem;
    color: #f0fff0;
    font-weight: 700;
    transition: 0.5s;
}

.contact-subtitle:hover {
    transform: scale(1.5);
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: rgba(30, 20, 22, 0.2);;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 8px;
    transition: 0.5s;
}

.input-content {


    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 8px;
}

.contact-content:hover {
    transform: scale(1.01);
}


.label {
    font-size: 1rem;
    color: #fff;
    font-weight: 600;


}

.input, .textarea {
    border-bottom: 2px solid #fff0ff;
    width: 100%;

    color: #fff0ff;
    background: transparent;
    outline: none;
    font-size: 1.1rem;
    padding: 8px 12px;
    /*border-radius: 0.5rem;*/
    border-left: none;
    border-right: none;
    border-top: none;
}

.project-form textarea {
    height: 60px;

}

.project-form {
    background: rgba(0, 0, 22, 0.4);

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.button-1 {


    font-size: 0.8rem;
    padding: 12px 24px;
    color: #ffffff;
    background-color: #202b39;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    text-align: center;
}

.button-1:hover {
    background-color: #33455b;
}


.button-icon {
    font-size: 2rem;
}

.textarea {
    height: 100px;
}

.footer {


}

.footer-container {

    display: grid;
    row-gap: 56px;
    color: #ffffff !important;
}

.footer-main {
    display: grid;
    margin: 0 auto;
    /*justify-content: center;*/
}

.footer-bg {
    background: linear-gradient(to top, #57059e, #4a00e0);;
    padding: 32px 48px;
}

.name-container {
    text-align: center;
}

.footer-title {
    font-size: 2rem;

}

.footer-subtitle {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 12px;

}

.footer-link, .social-link, .footer-title, .footer-subtitle, .footer-icon {
    color: #fff;
}

.footer-links {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer-icon {
    font-size: 22px;
    margin-right: 16px;

    font-weight: 700;
}

.footer-link {
    margin-bottom: 24px;
    font-size: 1rem;
    /*color: black;*/
    font-weight: 500;
}

.footer-link:hover {
    color: var(--text-color-light);
}

.footer-socials {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.social-link {
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 500;
}

.social-link:hover {
    color: var(--first-color-lighter);
}

.footer-copy {
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    font-size: var(--small-font-size);

}

.skills {
    min-height: 90vh;
    background: linear-gradient(to left, #57059e, #4a00e0);
}

.skills h2 {
    color: #fff;
}

.skills .heading span {
    color: rgb(255, 230, 0);
}

.skills .container {
    background: rgba(0, 0, 22, 0.4);

    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 1rem;
}

.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    min-width: 135px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 22, 0.9);
    transition: 0.2s;
}

.skills .container .bar:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;

}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info i {
    font-size: 4rem;
}

.skills .container .bar .info img {
    transition: 0.3s;
}

.skills .container .bar .info img:hover {
    transform: scale(1.2);
}

.skills .container .bar .info span {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Poppins";
    margin-left: 0.5rem;
}

/*===========================================================*/
/*===========================================================*/
/*===========================================================*/
.project-page-container {
    margin: 7rem 8rem;
}

.project-img-container {
    margin: 0 auto;

    justify-content: center;
    display: flex;
}

#project-img {
    width: 60%;
    height: 50vh;
    object-fit: cover;
}

/*====================*/
/*====================*/
.inbox-form-container {
    margin: 0 6rem 12rem;
}

.inbox-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.inbox-table thead {
    border: 1px solid grey;
    border-left: none;
    border-right: none;

}

.inbox-table tr {
    display: flex;
    height: max-content;
    gap: 1rem;

}

.inbox-table tbody {
    font-size: 0.65rem;


}

.inbox-table tr {
    display: flex;
    height: max-content;
    gap: 0.5rem;

}

.inbox-name {
    width: 10%;
}

.inbox-email {
    width: 15%;
    text-align: start;

}

.inbox-read {
    width: 5%;
}

.inbox-Subject {
    width: 25%;
    text-align: start;
}

.inbox-body {
    width: 45%;
    text-align: start;
}

@media (max-width: 450px) {
    .button-container {
        display: flex;
        flex-direction: column;
        /*justify-content: space-evenly;*/
        gap: 0.8rem;

    }

    .project-button {
        width: 100%;
        margin: 5px auto
    }

    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .skills .container .row {

        grid-template-columns: repeat(2, 1fr);

    }


}


@media screen and (min-width: 568px) {

    .nav-list {
        justify-content: center;
        column-gap: 3rem;
    }


    .container {
        margin: 0 32px;
    }

    .home-content {
        grid-template-columns: max-content 1fr 1fr;

    }

    .home-data {
        grid-column: initial;
    }

    .home-image {
        order: 1;
        justify-self: center;
    }

    .about-container {
        grid-template-columns: 0.5fr 1fr;
    }

    .qualification-data {

        /*align-items: start;*/

    }

    .institute-logo {
        display: flex;
        /*justify-content: center;*/

    }

    .institute-logo img {
        display: block;
        width: 85%;
        height: 90px;

        /*background: yellow;*/


    }


    .qualification-title {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .certificate-title {
        font-weight: 600;
        margin: 0 0 0.4rem 0;
        font-size: 1.2rem;
    }

    .qualification-subtitle {
        font-size: 1rem;
    }

    .qualification-data {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .qualification-container {
        grid-template-columns: 1fr 2fr;
    }

    /* .contact-container, .portfolio-container {*/
    /*    grid-gap: 20px;*/
    /*    grid-template-columns:1fr 1fr;*/
    /*}*/
    .footer-main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
    }

    .skills .container .row {

        grid-template-columns: repeat(3, 1fr);

    }


}

@media screen and (min-width: 800px) {
    #home {
        padding-top: 6.5rem;
    }

    .section {
        padding: 48px 0 32px;
    }

    .section-subtitle {
        margin-bottom: 64px;
    }


    .container {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 4rem;
    }

    .portfolio-container {
        margin-bottom: 0;
    }


    .nav {
        width: 100%;
        margin: 0 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 4.5rem;
        align-items: center;
    }

    .nav-menu {
        align-items: center;
        max-width: 800px;
        /*justify-content: center;*/
        /*margin-right: 80px;*/
        position: relative;
        top: 0;
        right: 0;

        box-shadow: none !important;
        background: transparent !important;
        /*height: 4rem;*/

    }


    .nav-image {
        display: none;
    }

    .home {
        height: 100vh;

    }

    .home-content {

    }

    .home-container {
        max-width: 1200px !important;
        padding-bottom: 6rem;


    }

    .home-social-icon {
        font-size: 2rem;
    }

    .home-title {
        font-size: 2.5rem;
    }

    .home-subtitle {
        font-size: 1.45rem;
    }

    .home-description {
        font-size: 1rem;
    }

    .portfolio-container {

        grid-template-columns: repeat(3, max-content);
    }

    .home-social-icon {
        font-size: 32px;
    }

    .home-blob {
        width: 380px;
        fill: var(--first-color);
    }

    #profile-img {
        width: 250px;
        object-fit: cover;
    }

    .home-description {
        margin-bottom: 48px;
    }

    .about-description {
        margin: 10px auto;
        /*max-width: 300px;*/

    }

    .footer-main {
        gap: 20rem;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }


    .certification {
        margin: 0;
        padding: 0;
    }

    .portfolio-container {
        max-width: 1200px !important;

        grid-template-columns: repeat(2, 1fr);


    }


    /*==============================*/
    #skills {


        min-height: 100vh;
        padding: 2rem 9%;
    }


    .heading {
        font-size: 2.5rem;
        color: rgb(32, 32, 32);
        font-weight: 800;
        text-align: center;
    }


    /* skills section starts */


}

@media screen and (min-width: 900px) {
    .container {
        margin: 0 32px;
    }

    .skills .container .row {

        grid-template-columns: repeat(4, 1fr);

    }

    .logo-certificate {
        display: flex;
        /*justify-content: center;*/

    }

    .logo-certificate img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 0.35rem;
        /*background: yellow;*/


    }


}

@media screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
    }

    .portfolio-container {
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;


    }

    .skills .container .row {

        grid-template-columns: repeat(6, 1fr);

    }

}