{% extends "main.html" %}
{% load static %}
{% block content %}
    <body>


    <main class="main">
        <section class="home section" id="home">
            <div class="home-container container grid">
                <div class="home-content grid">
                    <div class="home-social item">
                        <a href="https://github.com/isurumanoddev" class="home-social-icon">
                            <i class="uil uil-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/isuru-senanayake-28666a25a/" class="home-social-icon">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                        <a href="" class="home-social-icon">
                            <i class="uil uil-twitter"></i>
                        </a>
                    </div>

                    <div class="home-image item">
                        <svg class="home-blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
                               130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                                <image id="profile-img"
                                       href="{% static "photo_2023-05-13_09-45-43.jpg" %}"/>
                            </g>
                        </svg>
                    </div>

                    <div class="home-data item">
                        <h1 class="home-title">Hi, I am Isuru Manod</h1>
                        <h3 class="home-subtitle">Fullstack Developer</h3>
                        <p class="home-description">I am a highly motivated and skilled fullstack developer student currently pursuing my BSc in Software Engineering. .I have experience working with a variety of programming languages and frameworks .</p>
                        <a href="#contact" class="button button-flex">Contact Me <i class="uil uil-message"></i></a>
                    </div>
                </div>
                <!--         Scroll-->
            </div>

        </section>
        <!--    ================================About ===============================-->
        <section class="about section" id="about">
            <h2 class="section-title">About</h2>
            <span class="section-subtitle">My Introduction</span>
            <div class="about-container container">
                {#                <img src="{% static "photo_2023-05-13_09-50-23.jpg" %}" alt="" class="about-img">#}

                <p class="about-description">Highly motivated, open-mined and detail-oriented undergraduate software
                    engineer. An adaptable quick learner, a strong communicator and team player with a strong foundation
                    in computer science principles and passion for problem-solving to make a meaningful
                    contribution at a forward-thinking company. Skilled in developing efficient and intuitive
                    solutions to complex problems, with experience in a variety of programming languages
                    such as Python , Javascript , Java and technologies such as Django, NoSQL databases.
                    Seeking to leverage my skills and knowledge to contribute to the success of a dynamic
                    software development team
                </p>
                <div class="about-info">
                    <div>
                        <span class="about-info-title">2+</span>
                        <span class="about-info-name">Years<br>Experience</span>
                    </div>
                    <div>
                        <span class="about-info-title">15+</span>
                        <span class="about-info-name">Completed<br>Projects</span>
                    </div>

                </div>
                <div class="about-button">
                    <a href="#" target="_blank" class="button button-flex">Download CV <i
                            class="uil uil-import"></i></a>
                </div>

            </div>
        </section>

        <!--    Skills-->
        <section class="skills" id="skills">

            <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

            <div class="container">

                <div class="row" id="skillsContainer">
                    {% for skill in skills %}
                        <div class="bar">
                            <div class="info">
                                <img src="{{ skill.logo_url }}"
                                     alt="skill"/>
                                <span class="skill-name-title">{{ skill.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>


        <!-- *************** Qualifications-->
        <section class="qualification section ">
            <div class="quali">
                <h2 class="section-title">Qualification</h2>
                <span class="section-subtitle">My personal journey</span>

                <div class="qualification-container container ">
                    <div class="qualification-tabs">
                        <div class="qualification-heading">
                            <i class="uil uil-graduation-cap qualification-icon"></i>Education
                        </div>
                    </div>

                    <div class="qualification-sections">
                        <div class="qualification-content">

                            <div class="qualification-data">
                                <div class="institute-logo">
                                    <img src="https://sist.ac.ma/storage/2022/10/cmu-logo-retina-1-1.webp"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="qualification-title"><strong>Bsc Software Engineering</strong> (Reading)
                                        May
                                        2023- May 2024</h3>
                                    <span class="qualification-subtitle"><strong>University : </strong>Cardiff Metropolitan University</span>


                                </div>


                            </div>
                            <div class="qualification-data">
                                <div class="institute-logo">
                                    <img src="https://sist.ac.ma/storage/2022/10/cmu-logo-retina-1-1.webp"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="qualification-title"><strong>Higher Diploma in Software
                                        Engineering</strong>
                                        February 2021- February 2023</h3>
                                    <span class="qualification-subtitle"><strong>University : </strong>Cardiff Metropolitan University</span>
                                    <span class="qualification-subtitle"><strong>Grade : </strong>Cardiff Metropolitan University</span>
                                    <span class="qualification-subtitle"><strong>Modules : </strong>Object Oriented Programming, Data Structures & Algorithms, Databaseanagement Systems, Web Application Development, Service OrientedComputing ,Mobile Application Development , Project Management,Business Analytics</span>


                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="qualification-tabs">
                        <div class="qualification-heading" id="qualification-title-1">
                            <i class="uil uil-graduation-cap qualification-icon"></i>Certifications
                        </div>
                    </div>
                    <div class="qualification-sections">
                        <div class="qualification-content">


                            <div class="qualification-data">
                                <div class="logo-certificate">
                                    <img src="https://images.credly.com/images/4d81763c-b917-4ab9-92be-103af95c0a21/image.png"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="certificate-title">Programming in Python</h3>
                                    <span class="qualification-subtitle certification">Meta Back-End Developer Professional Certificate</span>
                                    <a href="https://www.coursera.org/account/accomplishments/certificate/2NVS95BSRG3S"
                                       class="qualification-subtitle credential">https://www.coursera.org/account/accomplishments/certificate/2NVS95BSRG3S</a>


                                </div>


                            </div>
                            <div class="qualification-data">
                                <div class="logo-certificate">
                                    <img src="https://images.credly.com/images/4d81763c-b917-4ab9-92be-103af95c0a21/image.png"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="certificate-title">Version Control</h3>
                                    <span class="qualification-subtitle certification">Meta Back-End Developer Professional Certificate</span>
                                    <a href="https://www.coursera.org/account/accomplishments/certificate/KHVR9DZYZ77J"
                                       class="qualification-subtitle credential">https://www.coursera.org/account/accomplishments/certificate/KHVR9DZYZ77J</a>


                                </div>


                            </div>
                            <div class="qualification-data">
                                <div class="logo-certificate">
                                    <img src="https://images.credly.com/images/4d81763c-b917-4ab9-92be-103af95c0a21/image.png"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="certificate-title">Introduction to Back-End Development</h3>
                                    <span class="qualification-subtitle certification">Meta Back-End Developer Professional Certificate</span>
                                    <a href="https://www.coursera.org/account/accomplishments/certificate/P5HEYXWF6K93"
                                       class="qualification-subtitle credential">https://www.coursera.org/account/accomplishments/certificate/P5HEYXWF6K93</a>


                                </div>


                            </div>
                            <div class="qualification-data">
                                <div class="logo-certificate">
                                    <img src="https://images.credly.com/images/4d81763c-b917-4ab9-92be-103af95c0a21/image.png"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="certificate-title">Django Web Framework</h3>
                                    <span class="qualification-subtitle certification">Meta Back-End Developer Professional Certificate</span>
                                    <a href="https://www.coursera.org/account/accomplishments/certificate/WKYMB5GSUSSY"
                                       class="qualification-subtitle credential">https://www.coursera.org/account/accomplishments/certificate/WKYMB5GSUSSY</a>


                                </div>


                            </div>
                            <div class="qualification-data">
                                <div class="logo-certificate">
                                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera.s3.amazonaws.com/media/coursera-rebrand-logo-square.png?auto=format%2Ccompress&dpr=1"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="certificate-title">Crash Course on Python</h3>
                                    <span class="qualification-subtitle certification">Coursera</span>
                                    <a href="https://www.coursera.org/account/accomplishments/certificate/7WLVD5JY7X6F"
                                       class="qualification-subtitle credential">https://www.coursera.org/account/accomplishments/certificate/7WLVD5JY7X6F</a>


                                </div>


                            </div>
                            <div class="qualification-data">
                                <div class="logo-certificate">
                                    <img src="https://images.credly.com/size/680x680/images/68c0b94d-f6ac-40b1-a0e0-921439eb092e/image.png"
                                         alt="">
                                </div>
                                <div class="institute-description">
                                    <h3 class="certificate-title">Python Essentials 1</h3>
                                    <span class="qualification-subtitle certification">Cisco</span>
                                    <a href="https://www.credly.com/users/isuru-manod-senanayake/badges"
                                       class="qualification-subtitle credential">https://www.credly.com/users/isuru-manod-senanayake/badges</a>


                                </div>


                            </div>


                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!--    =-============================Portfolio ========================-->

        <section class="portfolio section" id="portfolio">
            <h2 class="portfolio-title">Portfolio</h2>
            <span class="section-subtitle">Most recent Work</span>

            <div class="portfolio-container container">
                {% for project in projects %}
                    <div class="portfolio-content">
                        <img src="{{ project.imageURL }}" class="project-img">
                        <div class="project-data">
                            <h3 class="project-title">{{ project.title }}</h3>
                            <p class="project-desc">{{ project.body }}</p>
                            <div class="button-container">
                                <button class="button-2"> Show More<i
                                        class="uil uil-arrow-circle-right button-icon"></i></button>
                                <a href="{{ project.github_link }}" class="button-2">Github<i
                                        class="uil uil-github button-icon"></i> </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="show-more-container">

                <a id="down-arrow" href="{% url "projects" %}" class="button-2 show-more-button">Show More Projects<i
                        class="uil uil-arrow-circle-right arrow-right"></i></a>
            </div>

        </section>


        <section class="service section">

            <div class="service-container container">
                <div class="service-data">
                    <h2 class="service-title">You hava new Project</h2>
                    <p class="service-description">Contact me now and get 50% discount</p>
                    <div><a href="#contact" class="button-1 ">Contact Me <i class="uil uil-message"></i></a></div>
                </div>
            </div>

        </section>

        <!--    ++++++++++++++++++++++ Contact =================-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact Me</h2>
            <span class="section-subtitle">Get in touch</span>
            <div class="contact-container container">
                <div>
                    <div class="contact-info">
                        <i class="uil uil-phone contact-icon"></i>
                        <div>
                            <h3 class="contact-title">Call Me</h3>
                            <span class="contact-subtitle">+94766668809</span>
                        </div>

                    </div>
                    <div class="contact-info">
                        <i class="uil uil-envelope-alt contact-icon"></i>
                        <div>
                            <h3 class="contact-title">Email</h3>
                            <span class="contact-subtitle">isurumanod99@gmail.com</span>
                        </div>

                    </div>

                </div>
                <form method="POST" action="" class="contact-form">
                    {% csrf_token %}
                    <div class="contact-inputs">
                        {% for field in form %}
                            <div class="contact-content">
                                <label class="label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}

                        <div>
                            <button type="submit" class="button-1">Cantact Me
                                <i class="uil uil-message"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {% include "footer.html" %}
    </main>



{% endblock content %}

</body>