{% extends "main.html" %}

{% load static %}

{% block content %}
    <section class="project-page-section">

        <div class="project-page-container">


            <div class="project-img-container">

                <img id="project-img" src="{{ project.imageURL }}">
            </div>

            <h3 class="section-title">{{ project.title }}</h3>
            {% if request.user.is_authenticated %}
                <a class="button-1" href="{% url "edit-project" project.id %}">Edit</a>

                <a class="button-1" href="{% url "delete-project" project.id %}">Delete</a>

            {% endif %}
            <p>{{ project.project_description|safe }}</p>


            <div class="comment-container">
                <h4>Comments ({{ comments.count }})</h4>
                <hr/>
                <div class="card">
                    {% for commnent in comments %}
                        <div class="card-body">
                            <h5 class="card-title">@isuruManod <span
                                    style="margin-left: 20px"> {{ commnent.created|timesince }} ago</span></h5>
                            <p class="card-text">{{ commnent.body }}</p>
                            <hr/>

                        </div>
                    {% endfor %}

                    <form id="contact-form" method="POST" action="" class="contact-form">
                        {% csrf_token %}

                        <div class="contact-inputs">


                            <div class="contact-content">

                                <input type="text" class="input" name="message" placeholder="add your comment here">
                            </div>


                        </div>


                    </form>
                </div>

            </div>
        </div>
    </section>



{% endblock %}
